{{ if eq .FileExtension "swf" }}
<script src="/js/shumway/shuobject.js"></script>
{{ end }}

{{ if not (eq .PostID 0) }}
{{ if eq .FileExtension "swf" }}
<div id="swfEmbedDiv" class="card-img-top"></div>
{{ else if eq .MimeType "application/pdf" }}
{{ if settings.PDFView}}
<iframe class="card-img-top pdf-view"
    src="/js/pdfjs/web/viewer.html?file=/content/{{ .Filename }}.{{ .FileExtension }}"></iframe>
{{ else }}
<a href="/content/{{ .Filename }}.{{ .FileExtension }}">Click to download PDF</a>
{{ end }}
{{ else if eq .FileExtension "unknown" }}
<textarea class="text-view card-img-top form-control" id="content" name="content"
    readonly>{{ readPostContent . }}</textarea>
{{ else if startsWith .MimeType "video" }}
<video class="video-view card-img-top" src="/content/{{ .Filename }}.{{ .FileExtension }}" controls></video>
{{ else if startsWith .MimeType "audio" }}
    <audio controls class="video-view card-img-top">
    <source src="/content/{{ .Filename }}.{{ .FileExtension }}">
    Your browser does not support the audio tag.
  </audio> 
{{ else if startsWith .MimeType "image"  }}
<img class="card-img-top" src="/content/{{ .Filename }}.{{ .FileExtension }}" height="70%">
{{ else  }}
Preview unavailable
<a href="/content/{{ .Filename }}.{{ .FileExtension }}">Click to download</a>

{{ end }}
{{ end }}

{{ if eq .FileExtension "swf" }}
<script>shuobject.embedSWF('/content/{{ .Filename }}.{{ .FileExtension }}', 'swfEmbedDiv', "100%", "500", ''); </script>
{{end}}