<header>
    <style>
        .navbar,
        .nav {
            padding-top: 0.25rem;
            /* 0px does not look good on small screens */
            padding-bottom: 0.25rem !important;
            font-size: smaller;
            /* Just because I am using big size font */
            line-height: 1em;
            margin-bottom: 5px
        }
    </style>

    <nav id="headerNav" class="headerNav navbar navbar-dark fixed-top" style="position: relative;">
        <a class="navbar-brand" href="/">{{ settings.SiteName }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="link" href="/">{{ .Translator.Localize "Home" }}</a>
                </li>
                <li class="nav-item">
                    <a class="link" href="/rules">{{ .Translator.Localize "Rules" }}</a>
                </li>
                <li class="nav-item">
                    <a class="link" href="/search">{{ .Translator.Localize "SearchButton" }}</a>
                </li>
                {{ if .LoggedIn }}
                <li class="nav-item">
                    <a class="link" href="/logout">{{ .Translator.Localize "Logout" }}</a>
                </li>
                <li class="nav-item">
                    <a class="link" href="/upload">{{ .Translator.Localize "Upload" }}</a>
                </li>
                <li class="nav-item">
                    <a class="link" href="/user/{{.LoggedInUser.Username}}">{{ .Translator.Localize "UserProfileAccountSettings" }}</a>
                </li>
                {{ else }}
                <li class="nav-item">
                    <a class="link" href="/login">{{ .Translator.Localize "Login" }}</a>
                </li>
                <li class="nav-item">
                    <a class="link" href="/register">{{ .Translator.Localize "Register" }}</a>
                </li>
                {{end}}


            </ul>
        </div>

        <!---{{ if .LoggedIn }}
        <h4>Logged in as {{ html .LoggedInUser.Username }}</h4>
        {{end}}-->

    </nav>
</header>