<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hi</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
  </head>

  <body>
    {{ template "header.html" . }}
    <div class="container" style="padding-top: 10px">
      <center>
        <h4>{{ .Translator.Localize "SearchText" }}</h4>
        <form action="/search" method="get">
          <div class="d-table-cell w-50">
            <div class="input-group mb-3" style="border-radius:5px;">
              <input type="hidden" name="page" value="0">
              <input class="form-control" name="tags" placeholder="{{ .Translator.Localize "Tags" }}""
                style="border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border: 0px;">
              <div class="input-group-append">
                <button class="btn btn-primary bg-success btn-success" type="submit"
                  style="border-width: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px;">{{ .Translator.Localize "SearchButton" }}</button>
              </div>
            </div>
          </div>

        </form>
        {{ if .LoggedIn }}
        <br>
        <form action="/upload" method="get">
          <div class="d-table-cell w-50"><button class="btn btn-success btn-block" type="submit">{{ .Translator.Localize "Upload" }}</button>
          </div>
        </form>
        {{ end }}

      </center>
    </div>
  </body>

</html>