<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hi</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
  </head>

  <body class="bg-primary">
    <div class="container-fluid">
      <form class="form-signin" method="post">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
            <div class="card card-signin my-5 bg-light">
              <div class="card-body">
                <h5 class="card-title text-center">Setup</h5>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="username">Admin Username</label>
                    <input type="text" class="form-control" id="username" name="adminUsername"
                      placeholder="Admin Username">
                    <small class="form-text text-muted">
                      This is the first admin user that will be created.
                    </small>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="password">Admin Password</label>
                    <input type="password" class="form-control" id="password" name="adminPassword"
                      placeholder="Password">
                    <small class="form-text text-muted">
                      Please use a strong password...
                    </small>
                  </div>
                </div>
                <div class="form-group">
                  <label for="site-title">Site Title</label>
                  <input type="text" class="form-control" id="site-title" name="siteTitle" value="Kitteh's Imageboard">
                  <small class="form-text text-muted">
                    The title displayed in the navigation bar.
                  </small>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="enablereCaptcha" name="enablereCaptcha">
                  <label class="custom-control-label" for="enablereCaptcha">Enable reCaptcha</label>
                </div>
                <small class="form-text text-muted">
                  We highly recommend using reCaptcha to help prevent registration spam from bots.
                </small>
                <br>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="reCaptchaPublicKey">reCaptcha Public Key</label>
                    <input type="text" class="form-control" id="reCaptchaPublicKey" name="reCaptchaPublicKey">
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="reCaptchaPrivateKey">reCaptcha Private Key</label>
                    <input type="text" class="form-control" id="reCaptchaPrivateKey" name="reCaptchaPrivateKey">
                  </div>
                </div>
                <div class="form-label-group">
                  <label for="rules">Rules</label>
                  <textarea class="form-control" id="rules" name="rules" rows="10"></textarea>
                </div>
                <br>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="enablePDFViewing" name="enablePDFViewing">
                  <label class="custom-control-label" for="enablePDFViewing">Enable PDF Viewing</label>
                </div>
                <small class="form-text text-muted">
                  PDF Viewing requires PDF.js.
                  You may prefer to offer a download link for the PDF instead of embedding it in the site.
                </small>
                <br>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="enablePDFThumbnails"
                    name="enablePDFThumbnails">
                  <label class="custom-control-label" for="enablePDFThumbnails">Enable PDF Thumbnails</label>
                </div>
                <small class="form-text text-muted">
                  This will require imagemagick installed to generate thumnails.
                  Keep in mind that imagemagick may contain vulnerabilities that could put your server at risk.
                </small>
                <br>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="enableVideoThumbnails"
                    name="enableVideoThumbnails">
                  <label class="custom-control-label" for="enableVideoThumbnails">Enable Video Thumbnails</label>
                </div>
                <small class="form-text text-muted">
                  This will require ffmpegthumbnailer installed to generate thumnails.
                </small>
                <br>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </div>
        </div>



      </form>
    </div>
  </body>

</html>