<!DOCTYPE html>
{{ template "htmlThemeHead.html" . }}
{{ template "htmlHead.html" . }}


  <body>
    {{ template "header.html" . }}
    <center>
      <div class="container-fluid">

        <div class="row">
          {{ if not (eq .AvatarPost.PostID 0) }}
          <div class="col-md-4">
            {{ template "viewPostInclude.html" .AvatarPost }}
          </div>
          {{ end }}

          {{ if not (eq .AvatarPost.PostID 0) }}
          <div class="col-md-8">
          {{ else }}
          <div class="col-md-12">
          {{ end }}


            {{ if .IsAbleToEdit }}
            <form class="" method="post" action="/editUser/{{ .User.Username }}">
            <label for="description">{{ .Translator.Localize "Description" }}</label>
            <textarea class="form-control" id="description" name="description" rows="6">{{ nlhtml .User.Description }}</textarea>
            <label for="passwordPrevious">{{ .Translator.Localize "PreviousPassword" }}</label>
            <input class="form-control" id="passwordPrevious" name="passwordPrevious" type="password" value=""></input>
            <label for="password">{{ .Translator.Localize "Password" }}</label>
            <input class="form-control" id="password" name="password" type="password" value=""></input>
            <label for="passwordConfirm">{{ .Translator.Localize "ConfirmPassword" }}</label>
            <input class="form-control" id="passwordConfirm" name="passwordConfirm" type="password" value=""></input>
            <small class="form-text text-muted">
              {{ .Translator.Localize "PasswordChange" }}
            </small>
            <label for="theme">Theme</label>
            <select class="form-control" id="theme" name="theme">
              <option value="dark" {{ if eq .User.Theme "dark"}}selected{{end}}>Dark</option>
              <option value="light" {{ if eq .User.Theme "light"}}selected{{end}}>Light</option>
            </select>
            <br>
            <button class="button button-block button-green" type="submit">{{ .Translator.Localize "Edit" }}</button>
            </form>
            <br>
            <form method="get" action="/deleteUser">
              <button class="text-bold text-caps button button-block button-red" type="submit">{{ .Translator.Localize "DeleteAccount" }}</button>
            </form>

            </div>
            {{ else }}
            {{ nlhtml .User.Description }}

            {{ end }}

          </div>
        </div>


        
      </div>
    </center>
  </body>

</html>