<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hi</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    {{ template "header.html" . }}
    <center>
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-4">
            {{ template "viewPostInclude.html" .AvatarPost }}
          </div>


          <div class="col-md-8" >
            {{ if .IsAbleToEdit }}
            <form class="" method="post" action="/editUser/{{ .User.Username }}">
            <label for="description">{{ .Translator.Localize "Description" }}</label>
            <textarea class="form-control" id="description" name="description" rows="6">{{ nlhtml .User.Description }}</textarea>
            <label for="passwordPrevious">{{ .Translator.Localize "PreviousPassword" }}</label>
            <input class="form-control" id="passwordPrevious" name="passwordPrevious" type="password" value=""></input>
            <label for="password">{{ .Translator.Localize "Password" }}</label>
            <input class="form-control" id="password" name="password" type="password" value=""></input>
            <label for="passwordConfirm">{{ .Translator.Localize "ConfirmPassword" }}</label>
            <input class="form-control" id="passwordConfirm" name="passwordConfirm" type="password" value=""></input>
            <small class="form-text text-muted">
              {{ .Translator.Localize "PasswordChange" }}
            </small>
            <br>
            <button class="button button-block button-green" type="submit">{{ .Translator.Localize "Edit" }}</button>
            </form>
            <br>
            <form method="get" action="/deleteUser">
              <button class="button button-block  button-red" type="submit">{{ .Translator.Localize "DeleteAccount" }}</button>
            </form>

            </div>
            {{ else }}
            {{ nlhtml .User.Description }}

            {{ end }}

          </div>
        </div>


        
      </div>
    </center>
  </body>

</html>