<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hi</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    {{ if eq .Post.FileExtension "swf" }}
    <script src="/js/shumway/shuobject.js"></script>
    {{ end }}
  </head>

  <body>
    {{ template "header.html" . }}

      <div class="container-fluid">
          <div class="row">

            <div class="col-md-9 order-sm-2">
              {{ template "viewPostInclude.html" .Post }}
              <div class="form-label-group">
                <textarea class="form-control" id="description" name="description"
                  rows="6" readonly>{{ nlhtml .Post.Description }}</textarea>
              </div>
            </div>


            <div class="col-md-3 order-sm-1" >
              <br>
              {{ if not (eq (len .Query) 0) }}
              <form action="/search" method="get">
                <div class="d-table-cell w-50">
                  <div class="input-group mb-3" style="border-radius:5px;">
                    <input type="hidden" name="page" value="0">
                    <input class="form-control search-bar" name="tags" placeholder="{{ .Translator.Localize "Tags" }}" value="{{ html .Query }}">
                      <button class="button bg-ac-3" type="submit" >{{ .Translator.Localize "SearchButton" }}</button>
                  </div>
                </div>
              </form>
              {{ end }}
              <table class="">
                <thead>
                  <tr>
                    <th scope="col">{{ .Translator.Localize "Tag" }}</th>
                    <th scope="col">{{ .Translator.Localize "Posts" }}</th>
                  </tr>
                </thead>
                {{ range .Tags }}
                <tr>
                  <th scope="row"><a href="/search?tags={{ html .Tag}}">{{ html .Tag}}</a></th>
                  <td>{{ html .Count}}</td>
                </tr>
                {{end}}
              </table>

  
              <h5>{{ .Translator.Localize "ExtraInfo" }}</h5>
              <div style="margin-left: 1em">
                {{ $userNameData := newStringInterfaceMap }}
                {{ $un := html .Author.Username }}
                {{ $userNameData = addToStringInterfaceMap $userNameData "Name" $un }}
                <a href="/user/{{ html .Author.Username }}">{{ .Translator.LocalizeWithData "UploadedBy" $userNameData }}</a><br>

              </div>
              {{ if .IsAbleToEdit }}
              <h5>{{ .Translator.Localize "Edit" }}</h5>
              <div style="margin-left: 1em">
             
                <form enctype="multipart/form-data" class="form-signin" method="post"
                  action="/editPost/{{ .Post.PostID }}">
                  <div class="form-label-group">
                    <label for="tags">{{ .Translator.Localize "Tags" }}</label>
                    <input type="text" class="form-control" id="tags" name="tags" required
                      value="{{ range .Post.Tags }}{{ html .}} {{end}}">
                  </div>
                  <br>
                  <div class="form-label-group">
                    <label for="description">{{ .Translator.Localize "Description" }}</label>
                    <textarea class="form-control" id="description" name="description"
                      rows="6">{{ nlhtml .Post.Description }}</textarea>
                  </div>
                  <br>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{{ .Translator.Localize "Edit" }}</button>
                  <br>
                </form>
                <form class="form-signin" method="get" action="/deletePost/{{ .Post.PostID }}">
                  <button class="btn btn-lg btn-danger btn-block text-uppercase" type="submit">{{ .Translator.Localize "Delete" }}</button>
                </form>
              </div>
              {{ end }}
              <br>
              {{ if .LoggedIn }}
              <form class="form-signin" method="post" action="/editUser/{{ .LoggedInUser.Username }}">
                <input type="hidden" name="avatarID" value="{{ .Post.PostID }}">
                <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit">{{ .Translator.Localize "SetAsAvatar" }}</button>
              </form>
              {{ end }}

            </div>
          </div>


      </div>
  </body>

</html>